@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab");
@import url("https://fonts.googleapis.com/css?family=Athiti:400,500,600");

body {
  /* color: #666666; */
  font-size: 15px;
  font-family: "Athiti", sans-serif;
  line-height: 1.80857;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo {
  height: 60px;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

.top-navbar {
  position: relative;
  z-index: 10;
}

.top-navbar .navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.top-navbar .navbar-light .navbar-nav .nav-link {
  color: #010101;
  font-size: 18px;
  margin: 10px;
}

/* Hover */
.collapse .navbar-collapse ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}
ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: orange;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
/* hover end */

/* Search */

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link {
  content: "";
  width: 75%;
  border-bottom: 3px solid orange;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
}

.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover {
  background: #d0a772;
  color: #ffffff;
}
.navbar-light .navbar-toggler:hover {
  background: #cfa671;
}
.searchbox {
  top: 50%;
  left: 50%;
  height: 40px;
}
.searchBtn {
  color: orange;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.searchbox_input {
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4;
  line-height: 40px;
  width: 0;
}
.searchbox:hover > .searchbox_input {
  background-color: whitesmoke;
  color: #010101;
  width: 240px;
  padding: 0 6px;
  border-radius: 40px;
}
.searchbox:hover > .searchBtn {
  background: #ffffff;
}
/* Search */
/* nav bar end */

*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(185, 16, 16, 0.24),
    0 17px 50px 0 rgba(206, 26, 26, 0.19);
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
/* .login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
} */
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}

/* Dev's comment. Added ew css properties*/
.mar-top5 {
  margin-top: 5%;
}
.mar-bottom5 {
  margin-bottom: 5%;
}
.mar-top15 {
  margin-top: 15%;
}
#footer-item {
  margin-top: 10%;
}
.mar-top10 {
  margin-top: 10%;
}
.mar-bot15 {
  margin-bottom: 15;
}
.mar-bot10 {
  margin-bottom: 10%;
}

.card {
  /* border: 1px solid; */
  padding: 10px;

  background-color: #faf7f1;
  border-radius: 15px;
}

.second-container {
  margin: 0 auto;
  padding: 0px;
}

.parallax {
  background: url("/assets/img/parallaxImage.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
  -webkit-clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
}
.paragraph {
  padding: 5%;
}

.card-img-top:hover {
  transform: scale(1.08);
  transition: ease 0.4s;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
#footer-item {
  background-color: #8b6614;
  margin-top: 10%;
  
}

.fab:hover{
	color: orange;
}
.fab::after{
	color: orange;
	transform: 0.3s ease;
}
